.jbops {
    color: #fff;
    margin-left: 232px;
    // height: inherit;
    width: calc(100% - 232px);
    overflow: visible;
    // overflow-y:auto;
}

// div.playlists {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
// }

.jbops .playlists > h1 {
    padding: 0 30px;
    margin-top: 42px;
}

