div.player {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 25px;
    background-color: #181818;
}

div.player .center, div.player .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b3b3b3
}

div.player .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff
}

div.player .center {
    position: fixed;
    left: 50%;
    margin-left: -100px;
}

div.player .center svg, div.player .center i {
    margin: 0 15px 0 15px;
}


.fa.fa-play-circle {
    color: #fff;
    font-size: 36px;
}

svg {
    fill: #b3b3b3
}

input[type=range] {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background-color: #535353;
  color: #b3b3b3;
}

// input[type=range]::-webkit-slider-thumb {
//  -webkit-appearance: none;
//  display: none;
// }