
ul.song-results, ul.playlist-results, ul.artist-results, ul.album-results {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.song-results li, .playlist-results li, .artist-results li, .album-results li {
    list-style: none;
    --minimumColumnWidth: 180px;
}

.song-results .block, .playlist-results .block, .album-results .block, .artist-results .block {
    display: block;
    padding: 20px 20px 60px 20px;
    text-decoration: none;
    background-color: #161616;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

.song-results .block:hover, .playlist-results .block:hover, .album-results .block:hover, .artist-results .block:hover {
    background-color: #262626;
}

.song-results img, .playlist-results img, .artist-results img, .album-results img {
   width: 150px;
   height: 150px;
}

.song-results .title, .playlist-results .title, .album-results .title, .artist-results .title{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: normal;
}

.song-results a:link, .playlist-results a:link, .album-results a:link, .artist-results a:link {
    text-decoration: none;
}

.current-search {
    color: #fff;
    margin-left: 232px;
    // height: inherit;
    width: calc(100% - 232px);
    overflow: visible;
}

.results div.header {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-top: 3%;
    margin-left: 31px;
}

.search-input {
    border-radius: 500px;
    height: 40px;
    width: 20vw;
    padding-left: 40px;
    padding-right: 20px;
    outline-style: none;
}

.searchbar {
    margin-left: 345px;
    border-radius: 500px;
    margin-top: -36px;
    padding-bottom: 36px;
}

.fa-search::before {
    position: absolute;
    margin-left: 11px;
    margin-top: -17px;
    font-size: 23px;
}

.results {
    padding-bottom: 89px;
}

.song_result  span {
    color: #b3b3b3;
    font-size: 14px;
    font-family: arial;
}

ul.song.song_result {
    justify-content: space-between;
    padding: 0;
}

ul.song.song_result > li {
    text-align: end;
}

.browse-genres-container {
  display: flex;
  flex-direction: column;
  padding: 54px 40px;
  height: calc(100vh - 200px);
}

.search-index {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-auto-rows: 255px;
  width: 100%;
  padding-bottom: 50px;
  margin-top: 21px;
}

div.genre-button {
  border-radius: 8px;
  padding: 35px;
  color: white;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.2px;
//   transition: 0.2s ease-in-out;
  cursor: pointer;
}

div.genre-button:hover {
  transform: scale(1.02);
}

.search-results-container {
  position: relative;
  top: 91px;
}

.search-songs-container {
  display: flex;
  flex-direction: column;
}

#HipHop {
  background: rgb(147,93,20);
  background: linear-gradient(0deg, rgba(147,93,20,1) 0%, rgba(244,154,35,1) 100%);
}

#Pop {
  background: rgb(118,145,121);
  background: linear-gradient(0deg, rgba(118,145,121,1) 0%, rgba(194,239,199,1) 100%);
}

#Rock {
  background: rgb(141,18,30);
  background: linear-gradient(0deg, rgba(141,18,30,1) 0%, rgba(234,35,50,1) 100%);
}

#RnB {
  background: rgb(145,33,99);
  background: linear-gradient(0deg, rgba(145,33,99,1) 0%, rgba(239,55,165,1) 100%);
}