div.sidebar {
    height: 100%;
    width: 232px;
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0; 
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 700;
}

div.sidebar ul li {
    margin: 0;
    list-style: none;
    margin-left: -14px;
}

div.sidebar .logo {
    width: 99%;
    margin-left: -13px;
    margin-top: -18px;
}