div.sidebar {
    height: 100%;
    width: 232px;
    position: fixed; 
    top: 0;
    left: 0; 
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 700;
}

div.sidebar ul {
    margin-left: -2px;
}

div.sidebar ul li {
    margin: 0;
    list-style: none;
    margin-left: -14px;
}

div.sidebar .logo {
    width: 99%;
    margin-left: -11px;
    margin-top: -24px;
    margin-bottom: 12px;
}

div.sidebar a {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #b3b3b3;
}

div.sidebar li {
    padding: 6px 0 6px 0;
}


div.sidebar a:link {
    text-decoration: none;
}

div.sidebar a:hover {
    color: #fff
}

.create-playlist {
    background: none;
    border: none;
    transform: translate(-5px, 2px);
}

.create-wrapper {
    display: flex;
    height: 24px;
    width: 24px;
    margin-right: 16px;
    justify-content: center;
    background-color: #b3b3b3;
    align-items: center;
}

.outer-create-wrapper {
    display: flex;
}

.create-wrapper svg {
    fill: #000;
}

.outer-create-wrapper span {
    display: flex;
    align-items: center;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 700;
}
