.menu-container {
    position:absolute;
    background-color: #282828;
    display:flex;
    flex-direction: column;
    padding: 3px;
    visibility: hidden;
}

.menu-row {
    text-align: left;
    padding: 10px;
    color: #FFFFFFE6;
}

.menu-row:hover {
    background-color: #3E3E3E;
}

.show {
    visibility: visible;    
}
