// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div.header {
    min-width: 857px;
    width: 94%;
    margin: 0 3%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10%;
}

div.header img {
    width: 250px;
    height: 250px;
}

div.header .text {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

div.header h1 {
    font-size: 72px;
    line-height: 72px;
    font-weight: 900;
    letter-spacing: -.04em;
}

div.header h2 {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

div.header div#num_songs {
    color: #FFFFFFB3;
    font-size: 14px;
}

div.grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 857px;
    width: 94%;
    margin: 0 3% 130px;
}

button.song {
    background-color: transparent;
    border-radius: 5px;
    border-color: transparent;
    width: 100%;
    text-align: left;
}

button.song:hover {
    background-color: transparentize($color: #fff, $amount: 0.99);
}

ul.song {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

ul.song > li {
    min-width: 30%;
}

ul.song li#song_play {
    display: flex;
    align-items: center;
    gap: 30px;
}

ul.song li#song_play li.track_info {
    display: flex; 
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
}

ul.song li#song_play div.track_info {
    display: flex; 
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
}

ul.song li#song_play li.track_info div.track_name {
    font-size: 16px;
    color: #fff;
}

ul.song li#song_play div.track_info div.track_name {
    font-size: 16px;
    color: #fff;
}

a.gray14px:hover {
    text-decoration: underline;
}

.gray14px {
    color: #b3b3b3; 
    font-size: 14px;
    text-decoration: none;
}

ul.rows {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    color: #b3b3b3;
    font-size: 12px;
    letter-spacing: .1em;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    padding-bottom: 7px;
}

ul.rows > li {
    min-width: 30%;
}

ul.rows li#ord_and_title {
    display: flex;
    gap: 87px;
}

ul.song img {
    max-width: 50px;
    max-height: 50px;
}

#track_duration {
    display:flex;
    gap: 10px;
}